
body {
    background-color: #7E57C2;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/*************************************************/
   /* Modal MessageBox Styles */
   /* The Modal (background) */
   .modal {
      /*display: none; /* Hidden by default */
      */ position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 5vh;
      /* Location of the box */
      /*padding-left: 10vw;*/
      left: 0;
      top: 0;
      width: 100vw;
      height: 50vh;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: transparent;
   }

   /* Modal Content */
   .modal-content {

      font-size: 1rem;
      /*font-weight: bold;*/
      text-align: left;
      color: black;
      margin: auto;
      padding: 10px;
      width: 80%;
   }

   /* The Close Button */
   .close-msg {
      color: black;
      float: right;
      text-align: top;
      font-size: 1.5rem;
      font-weight: bold;
   }

   .btn-group button {
      background-color: transparent;
      border: 1px solid black;
      font-size: 1rem;
      font-weight: normal;
      color: black;
      padding: 10px 16px;
      margin-top: 20px;
      cursor: pointer;
      width: 144px;
      display: inline-block;
   }

   .btn-group label {
      vertical-align: middle;
      display: block;
      background-color: transparent;
      /*border: 1px solid black;*/
      font-size: 1rem;
      font-weight: normal;
      color: black;
      padding: 10px 10px 10px 2px;
      margin-top: 2px;
      margin-bottom: 2px;
      cursor: pointer;
      width: 100px;
      float: left;
      text-align: left;
   }
